<mat-tab-group class="history-tabs">
  <mat-tab label="All ({{ allBets().length }})">
    <sb-bet-history-list
      [bets]="allBets()"
      emptyIcon="history"
      emptyMessage="No bets in history yet"
      (deleteBet)="onDeleteBet($event)"
    />
  </mat-tab>

  <mat-tab label="Pending ({{ pendingBets().length }})">
    <sb-bet-history-list
      [bets]="pendingBets()"
      emptyIcon="hourglass_empty"
      emptyMessage="No pending bets"
      (deleteBet)="onDeleteBet($event)"
    />
  </mat-tab>

  <mat-tab label="Settled ({{ settledBets().length }})">
    <sb-bet-history-list
      [bets]="settledBets()"
      emptyIcon="done_all"
      emptyMessage="No settled bets"
      (deleteBet)="onDeleteBet($event)"
    />
  </mat-tab>
</mat-tab-group>
