<mat-card class="filters-card">
  <form [formGroup]="filterForm">
    <div class="filters-row">
      <mat-form-field>
        <mat-label>Sport</mat-label>
        <mat-select formControlName="sport">
          <mat-option value="">All Sports</mat-option>
          @for (sport of sports(); track sport) {
            <mat-option [value]="sport">{{ sport | titlecase }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="">All Statuses</mat-option>
          @for (status of statuses(); track status) {
            <mat-option [value]="status">{{ status | titlecase }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date From</mat-label>
        <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom" />
        <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date To</mat-label>
        <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" />
        <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button type="button" (click)="onClearFilters()">
        <mat-icon>clear</mat-icon>
        Clear Filters
      </button>
    </div>
  </form>
</mat-card>
