<div class="status-chips">
  <mat-chip [color]="getStatusColor(event().status)">
    {{ event().status | titlecase }}
  </mat-chip>
</div>

<dl class="event-details-list">
  <dt>Description:</dt>
  <dd>{{ event().description }}</dd>

  <dt>Sport:</dt>
  <dd>{{ event().sport | titlecase }}</dd>
</dl>

<dl class="teams-section">
  <div class="team">
    <dt>Home Team</dt>
    <dd>{{ event().homeTeam }}</dd>
  </div>
  <div class="vs">VS</div>
  <div class="team">
    <dt>Away Team</dt>
    <dd>{{ event().awayTeam }}</dd>
  </div>
</dl>

<dl class="event-details-list">
  <dt>Start Time:</dt>
  <dd>{{ event().startTime | date: 'full' }}</dd>
</dl>

<div class="odds-section">
  <h3>Current Odds</h3>
  <div class="odds-display">
    @let isFinished = event().status === 'finished';
    <sb-odd-card
      [label]="event().homeTeam"
      [isFinished]="isFinished"
      [oddValue]="event().odds.home"
      (addToBetslip)="onAddToBetslip('home')"
    />

    @if (event().odds.draw) {
      <sb-odd-card
        label="Draw"
        [isFinished]="isFinished"
        [oddValue]="event().odds.draw!"
        (addToBetslip)="onAddToBetslip('draw')"
      />
    }

    <sb-odd-card
      [label]="event().awayTeam"
      [isFinished]="isFinished"
      [oddValue]="event().odds.away"
      (addToBetslip)="onAddToBetslip('away')"
    />
  </div>
</div>
